
.react-datepicker__input-container {
    
    input{

        border : 2px solid var(--neutral-light-darkest, #C5C6CC);
        height : 48px;
        border-radius : 8px;
        padding-left : 10px;
        font-family : Inter;
        box-sizing : border-box;
    }
}

.react-datepicker{

    padding : 16px;
    width : 300px;
    background-color: #FBEFF5;    

    .react-datepicker__month-container {
        
        padding-bottom : 16px;
        margin-bottom : 8px;
        border-bottom : 1px solid #D4D6DD;

        .react-datepicker__header  {
            background-color: #fff;
            color: #fff;
            border-bottom: none;
            border-radius: 0;    
        }

        .react-datepicker__month  {
            background-color: #fff;
            color: #fff;
            border-bottom: none;
            border-radius: 0;    
        }



        .react-datepicker__day-names{
            
            width : 280px;
            display : flex;
            justify-content : center;
            align-items : center;
            box-sizing : border-box;
            
            .react-datepicker__day-name{
                display : flex;
                width : 40px;
                height : 40px;
                justify-content : center;
                align-items : center;
            }
        }

        .react-datepicker__current-month{
            float : left;
        }

        .react-datepicker__month{
            margin : 0px;
        }

        .react-datepicker__week{

            width : 280px;
            display : flex;
            justify-content : space-around;

            > * {
                display : flex;
                width : 40px;
                height : 40px;
                justify-content : center;
                align-items : center;
                color: var(--neutral-dark-medium, #494A50);
                text-align: center;
              
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .react-datepicker__day--selected{
                border-radius: 20px;
                background: var(--highlight-darkest, #006FFD);
                display: flex;
                width: 40px;
                height: 40px;
                justify-content: center;
                align-items: center;
                color : #fff;
            }
        }
    
        

    .react-datepicker__day--disabled {
        color: #C5C6CC;
        pointer-events: none;
    }
        
    }

     .react-datepicker__children-container{
        padding : 0px;
        width : 280px;   
    }

    .react-datepicker__day--keyboard-selected,
    .react-datepicker__month-text--keyboard-selected,
    .react-datepicker__quarter-text--keyboard-selected,
    .react-datepicker__year-text--keyboard-selected {
    border-radius: 0.3rem;
    background-color: none !important; 
    color: rgb(0, 0, 0);
}
   
}
